.selectDoctor{
    background-color:#EFEFEF ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;

    .nav{
        width: 100%;
        font-size: small;
        font-weight: 400;
        margin-bottom: 80px;

        .navActive{
            color: #3DB166;
            text-transform: capitalize;
        }
    }
    .menu{
        width: 86.4%;
        display: flex;
        .menuHeading{
            background-color: #fff;
            color: #464646;
            padding: 30px;

        }
    }
    .docWrapper{
        background-color: #fff;
        width: 85%;
        height: auto;
        margin: 0px 50px 50px 50px;
        padding: 10px;
        
        .docCard{
            border-bottom: 1px solid #5ff493;
            .cardContainer{
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 30px;
                
                .left{
                    .heading{
                        color: #314E85;
                        text-transform: capitalize;
                    }
                    .specialisation{
                        font-size: medium;
                        color: #ABABAB;
                    }
                }
                .right{
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    align-items: center;
                    justify-content: center;

                    .bookingForm{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 10px;

                        .timePicker{
                            height: 55px;
                            border: 0.5px solid #ABABAB;
                            padding: 5px;
                            border-radius: 3px;
                            
                            &:hover{
                                border: 0.5px solid black;
                            }

                        }
                        .select{
                            background-color: #DC3545;
                            color: white;
                            border: none;
                            outline: none;
                            border-radius: 3px;
                            padding: 5px 7px;
                            max-width: fit-content;
                            text-decoration: none;
                            height: 55px;
                            cursor: pointer;
                        }
                    }
   
                
                    
                }
            }
        }
    }
}