.modalContainer{
    background-color: #EFEFEF;
    position: absolute;
    width: 20%;
    height: 22%;
    top : 35%;
    left : 35%;
    gap: 20px;
    display: flex;
    flex-direction: column;
    padding: 40px;
    overflow-y: scroll ;
    

    .update{
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        border-bottom: 0.5px solid lightgreen; 
        padding-bottom:5px ;
    }

    input{
        padding: 10px;
        font-size: large;
    }

    .buttonContainer{
        display: flex;
        gap: 10px;
        .done{
            padding: 7px;
            border-radius: 3px;
            color: white;
            background-color: rgb(20, 184, 20);
            border: none;
            outline: none;
            cursor: pointer;
        }
    }
}